<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Client Directory</title>
  <link rel="stylesheet" href="./main.css" />
</head>

<body>
  <h1>Client Directory</h1>
  <div class="container">
    {{#users}}
      <div class="user-container">
        <img class="avatar-container" src="{{avatar}}" alt="{{name}}">
        <h3 class="name-container">{{name}}</h3>
        <p class="description-container">{{^job}}<span class="available">Available for Hire</span>{{/job}}
          {{#job}} {{job}}, {{company}}{{/job}}
        </p>
      </div>
    {{/users}}
  </div>
  
</body>

</html>
