<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Client Directory</title>
  </head>
  <body>
    <h1>Index</h1>

    <ul>

      {{#users}}
    <img src="{{avatar}}" alt="">
      <li id="name">{{name}}</li>
      <li id="university">{{university}}</li>
      <li id="job">{{job}}</li>
      <li id="company">{{company}}</li>
      {{/users}}

    </ul>

  </body>
</html>
