* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

h1{
  margin-left: 2%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  align-items: flex-start;
}

.user-container {
  flex: 1 1 20%;
  border: 1px solid #000003;
  border-radius: 3px;
  margin: 15px;
  padding: 20px;
  line-height: 150%;
}

.avatar-container {
  margin: 0 auto;
  display: block;
}

.name-container {
  color: #347CD1;
  margin: 20px 0;
}

.avatar {
  object-fit: cover;
}

.description-container {
  color: #646C71;
}

.available {
  color: #D19A66;
}
