
ul{
display: flex;
list-style-type: none;
border-style: solid;
border-color: #E7E7E7;

}

img{
  width: 150px;
  height: 150px;
}

#name{
color: #1980D0
font-size: 14px;
border-style: solid;
border-color: #E7E7E7;
}
